<h1>The classic battle of Rock, Paper, Scissors</h1>
<h2> Rock = 1, Scissors = 2, Paper = 3</h2>
<form action="/outcome">
  <div class="form-group">
    <label for="player_1_outcome">Player 1, type in your weapon of choice</label>
    <input id="player_1_outcome" name="player_1_outcome" class="form-control" type="password">
    <label for="player_2_outcome">Player 2, type in your weapon of choice</label>
    <input id="player_2_outcome" name="player_2_outcome" class="form-control" type="password">
  </div>
  <button type="submit" class="btn-success">See who wins!</button>
</form>
